

.hidden{
    display: none;
}
.font{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px black;
    opacity: 0.7;

    font-size : 11.5vw;
    font-weight: bolder;
    color: white
}
.yfont{
    opacity: 0.7;

    position: fixed;
    top: 44%;
    left: 43%;
    transform: translate(0, -50%);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px black;

    font-size : 2vw;
    font-weight: bolder;
    color:aliceblue
}
.zfont{
    position: fixed;
    top: 86%;
    left: 34%;
    transform: translate(0, -50%);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px black;

    font-size : 1.2vw;
    font-weight: bolder;
    color:white
}
.xfont{
    position: fixed;
    top: 90%;
    left: 54%;
    transform: translate(0, -50%);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px black;

    font-size : 1.2vw;
    font-weight: bolder;
    color:white;
}
.fluid {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vb;
    z-index: -1;
}
.ufont{
    width: 11vb;
    height: 11vb;
    background: no-repeat;
    background-position: center;
    opacity: 0.8;

    display: inline-block;
    border: none;
    border-radius: 100px;

    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;

    position: fixed;
    top: 65%;
    left: 30%;
    transform: translate(0, -50%);
    background-image: url("image_png/youtubeicon.png");
    background-size: 22vb;
    background-position: center;
}
.ufont:hover{
    opacity: 1;
    background-color: white;
}
.nfont{
    width: 11vb;
    height: 11vb;
    background: no-repeat;
    background-position: center;
    opacity: 0.8;

    display: inline-block;
    border: none;
    border-radius: 100px;

    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;

    position: fixed;
    top: 65%;
    left: 40%;
    transform: translate(0, -50%);
    background-image: url("image_png/navericon.png");
    background-size: 6vb;
    background-position: center;
}
.nfont:hover{
    opacity: 1;
    background-color: white;
}
.nffont{
    width: 11vb;
    height: 11vb;
    background: no-repeat;
    background-position: center;
    opacity: 0.8;

    display: inline-block;
    border: none;
    border-radius: 100px;

    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;

    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(0, -50%);
    background-image: url("image_png/netflixicon.png");
    background-size: 4vb;
    background-position: center;
}
.nffont:hover{
    opacity: 1;
    background-color: white;
}
.cfont{
    width: 11vb;
    height: 11vb;
    background: no-repeat;
    background-position: center;
    opacity: 0.8;

    display: inline-block;
    border: none;
    border-radius: 100px;

    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;

    position: fixed;
    top: 65%;
    left: 60%;
    transform: translate(0, -50%);
    background-image: url("image_png/coupangicon.png");
    background-size: 10vb;
    background-position: center;
    
}
.cfont:hover{
    opacity: 1;
    background-color: white;
}
